#path {
  stroke-width: 2;
  stroke-dasharray: 180;
  stroke-dashoffset: 102;
}

#circle {
  stroke-dasharray: 220;
  stroke-dashoffset: 220;
}


@keyframes animatePath {
  from {stroke-dashoffset: 102;}
  to {stroke-dashoffset: 268}
}

@keyframes animatePathReverse {
  from {stroke-dashoffset: 268;}
  to {stroke-dashoffset: 102}
}

@keyframes animateCircle {
  from {stroke-dashoffset: 220}
  to {stroke-dashoffset: 0}
}
@keyframes animateCircleReverse {
  from {stroke-dashoffset: 0}
  to {stroke-dashoffset: 220}
}
